<!DOCTYPE html>
<!-- base.html -->
<html>
    <link rel="shortcut icon" href="{{url_for('static', filename='media/favicon/favicon.ico')}}" type="image/x-icon">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" >
    <link href="{{url_for('static', filename='css/slate/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    {% block head_includes %}
    {% endblock %}    
<head>
    <title>{% block title %}AC{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='/media/images/logo.png')}}" width="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('default.upload') }}">Upload</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('default.list') }}">List</a></li>
            {% if not current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.signup') }}">Sign up</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.profile') }}">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="toast-container top-2 end-0">
     
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                {{ message }}
              </div>
              <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
          {% endfor %} 
        {% endif %}
      {% endwith %}        
    </div>

    <div class="container">
        <!-- Content here -->
        {% block content %}{% endblock %}     
    </div>
  <script>
    $(document).ready(function () {
      initTooltips()
      initToasts()
    });    

    function initTooltips(){
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))      
    }

    function initToasts(){
      const toastElList = document.querySelectorAll('.toast')
      const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl))    
    }
  </script>
</body>
</html>