{% extends "base.html" %}
{% block title %}AC - Export{% endblock %}
{% block content %}

<h2>Filename: {{track.name}}</h2>
<h3><span class="text-info">{{track.user.username}}</span> <span class="text-secondary">{{track.formatted_ts_add}}</span></h3>



<h4>Description</h4>
<div class="text-pre">{{track.description.text}}</div>
<hr>
<h4>Transcription</h4>
<table>
  <thead>
    <tr>
      <th>Start - End</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% if track.transcription: %}
        {% for segment in track.transcription.segments:%}
        <tr>
          <td class="text-secondary text-nowrap align-top">{{segment.formatted_start}} - {{segment.formatted_end}}</td>
          <td class="text-pre">{{segment.text}}</td>
        </tr>
        {% endfor %}
    {% endif %}
  </tbody>
</table>
<hr>
<h4>Regions and comments</h4>
<table>
    <thead>
      <tr>
        <th>Start - End</th>
        <th>Text</th>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% if track.regions: %}
        {% for region in track.regions:%}
        <tr>
            <td class="text-secondary text-nowrap align-top">{{region.formatted_start}} - {{region.formatted_end}}</td>
            <td class="text-pre">{{region.title}}</td>
            <td class="text-info align-top">{{region.user.username}}</td>
            <td class="text-secondary text-nowrap align-top">{{region.formatted_ts_add}}</td>
          </tr>
            {% if region.comments: %}
                {% for comment in region.comments:%}
                <tr>
                    <td></td>
                    <td class="text-pre">{{comment.text}}</td>
                    <td class="text-info align-top">{{comment.user.username}}</td>
                    <td class="text-secondary text-nowrap align-top">{{comment.formatted_ts_add}}</td>
                </tr>
                {% endfor %}
            {% endif %}
          {% endfor %}
      {% endif %}
    </tbody>
  </table>

  {% endblock %}