{% extends "base.html" %} 
{% block title %}AC - Play{% endblock %} 
{% block head_includes %}

<script src="{{url_for('static', filename='js/wavesurfer/7/wavesurfer.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/regions.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/hover.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/timeline.min.js')}}"></script>
<script src="{{url_for('static', filename='js/play.js')}}"></script>


{% endblock %} 

{% block content %}
<div class="row">
  <div class="col">
    <h2>Filename: {{track.name}}</h2>
    <div id="waveform"></div>
    <div id="add_button" class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Add
      </button>
      <ul class="dropdown-menu">
        <li>
          <button id="add_section_button" class="dropdown-item" href="#">
            Section
          </button>
        </li>
        <li>
          <button id="add_comment_button" class="dropdown-item" href="#">
            Comment
          </button>
        </li>
      </ul>
    </div>
    <div id="add_section_help_1" style="display: none">
      Drag on track to add and edit a new section
    </div>
    <div id="add_section_help_2" style="display: none">
      Drag track to edit the time frame
    </div>

    <!-- <button type="button" class="btn">Add comment</button>
    <button id="add_section_button" type="button" class="btn" data-bs-toggle="button">Add section</button> -->
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="regions-container"></div>
  </div>
</div>


{% endblock %}
