{% extends "base.html" %} 
{% block title %}AC - Play{% endblock %} 
{% block head_includes %}

<script src="{{url_for('static', filename='js/wavesurfer/7/wavesurfer.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/regions.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/hover.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/timeline.min.js')}}"></script>
<script src="{{url_for('static', filename='js/ui.js')}}"></script>

{% endblock %} 

{% block content %}
<div class="row">
  <div class="col">
    <h2>Filename: <span id="track-name">{{track.name}}</span></h2>    
  </div>
  <div class="col-1">
    <div class="spinner-border" role="status" id="waveform-spinner">
      <span class="visually-hidden">Loading...</span>
    </div>    
  </div>
</div>
<div class="row sticky-top bg-dark pt-1 pb-1">
  <div class="col">
    <div id="waveform"></div>
  </div>
</div>
<div class="row" >
  <div class="col">
    <div id="transcription-line"></div>
  </div>
  <div class="col-4">
    <button id="add-section-button" class="btn btn-primary float-end" href="#">
      New Region <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 18l-4.2 1.8q-1 .425-1.9-.162T5 17.975V5q0-.825.588-1.412T7 3h5q.425 0 .713.288T13 4t-.288.713T12 5H7v12.95l5-2.15l5 2.15V12q0-.425.288-.712T18 11t.713.288T19 12v5.975q0 1.075-.9 1.663t-1.9.162zm0-13H7h6zm5 2h-1q-.425 0-.712-.288T15 6t.288-.712T16 5h1V4q0-.425.288-.712T18 3t.713.288T19 4v1h1q.425 0 .713.288T21 6t-.288.713T20 7h-1v1q0 .425-.288.713T18 9t-.712-.288T17 8z"/></svg></span>
    </button>   
    <button id="transcribe-button-view" class="btn btn-primary float-end" href="#" data-bs-toggle="modal" data-bs-target="#transcription-modal" style="display: none;">
      View Transcription
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4 5h16v2H4zm0 4h16v2H4zm0 4h16v2H4zm0 4h10v2H4z"/></svg>
      </span>      
    </button>   
    <button id="transcribe-button" class="btn btn-primary float-end" href="#">
      Transcribe 
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4 5h16v2H4zm0 4h16v2H4zm0 4h16v2H4zm0 4h10v2H4z"/></svg>
      </span>
      <div id="transcribe-button-spinner" class="spinner-border spinner-border-sm" role="status" style="display: none;"><span class="visually-hidden">Loading...</span></div>
    </button>    
  </div>
</div>



<div class="row mt-4">
  <div class="col">
    <div id="description-container">
      <div id="description-content"></div>
      <div id="description-form" class="input-group">
        <span class="input-group-text" id="basic-addon1">Description</span>
        <textarea class="form-control" id="description-textarea"placeholder="Track Description"></textarea>
        <button id="save-description-button" class="btn btn-primary float-end">Save description <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11 11v2q0 .425.288.713T12 14t.713-.288T13 13v-2h2q.425 0 .713-.288T16 10t-.288-.712T15 9h-2V7q0-.425-.288-.712T12 6t-.712.288T11 7v2H9q-.425 0-.712.288T8 10t.288.713T9 11zm-5 7l-2.3 2.3q-.475.475-1.088.213T2 19.575V4q0-.825.588-1.412T4 2h16q.825 0 1.413.588T22 4v12q0 .825-.587 1.413T20 18zm-.85-2H20V4H4v13.125zM4 16V4z"/></svg></span></button>
      </div>
    </div>
  </div>
</div>
<div class="row m-2">
</div>

<div class="row">
  <div class="col">
    <div id="regions-container" class="accordion"></div>
  </div>
</div>

<div class="modal" tabindex="-1" id="transcription-modal">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transcription <span id="transcription-title-append" class="text-secondary fs-6 text"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="transcription-container"></p>
      </div>
      <div class="modal-footer">
        <button id="transcription-save-button" type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    initialize()
  });

  function initialize(){
    const config = new WaveSurferConfig();

    const hover = new HoverManager(config)
    const timeline = new TimelineManager(config)
    const regionsManager = new RegionsManager(config);
    const descriptionManager = new DescriptionManager(config)

    const plugins = [hover.hoverInstance, timeline.timelineInstance, regionsManager.regionsInstance]

    const waveSurferManager = new WaveSurferManager({container:"#waveform", url:UrlManager.getFileUrl()}, config, plugins);
    const waveSurfer = waveSurferManager.initialize();

    regionsManager.setWsReference(waveSurfer)
    regionsManager.addEventListeners();

    descriptionManager.loadDescription()

    const tm = new TranscriptionManager()
    // tm.bindTo('#transcribe-button')
    tm.on('transcription-loaded', (data) => handleTranscriptionLoaded(data))
    tm.on('transcription-end', (data) => handleTranscriptionEnd(data))
    tm.on('transcription-start', (data) => handleTranscriptionStart(data))   
    
    $('#transcribe-button').on('click', () => tm.transcribe())
    $('#transcription-save-button').on('click', () => handleTranscriptionSave(tm))
    
    tm.loadTranscription()

    waveSurfer.on("ready", () => {
      regionsManager.loadRegions();
      $("#waveform-spinner").hide();
    });  

    waveSurfer.on('timeupdate', (currentTime) => {
      let segment = tm.getSegmentAt(currentTime)
      renderTranscriptionLine(segment)
    })
    

    UIManager.bindButtonEvents(regionsManager);

    waveSurfer.on("ready", () => {
      console.log("WaveSurfer is ready");
    });

  }  

  function handleTranscriptionStart(data){
    console.debug(data)
    $('#transcribe-button-spinner').show()
    $(`#transcribe-button`).attr("disabled", true);
  }
  function handleTranscriptionEnd(data){
    $('#transcribe-button-spinner').hide()
    $(`#transcribe-button`).attr("disabled", false);
    if (data && 'segments' in data) { 
      $('#transcription-title-append').text( `(Language: ${data.language})`)
      $('#transcription-container').append( renderTranscription(data) )
    } else {
      $('#transcription-container').append( 'error' )
    }
    $('#transcribe-button-view').show()
    $('#transcribe-button').hide()
  }

  function handleTranscriptionLoaded(data){
    handleTranscriptionEnd(data)
  }

  function handleTranscriptionSave(tm){
    for(let i = 0; i< tm.transcription.segments.length; i++){
      let segment = tm.transcription.segments[i]
      let visible_text = $(`#segment-${i}`).text()
      if (segment.text != visible_text){
        segment.text = visible_text
      }
    }
    tm.saveTranscription()
  }

  function renderTranscription(data){
    let segments_container = '<div>'
    for(let i = 0; i< data.segments.length; i++){ //old style loop.. but I like it
      let segment = data.segments[i]
      let segment_ts = `<span class="text-secondary user-select-none">${secondsToTimestamp(segment.start)} - ${secondsToTimestamp(segment.end)}</span>`
      let segment_text = `<span id="segment-${i}" contentEditable = "true">${segment.text}</span>`
      segments_container = segments_container.concat(segment_ts, ' ', segment_text, '</br>')
    }
    segments_container = segments_container.concat('</div>')

    return segments_container
  }

  function renderTranscriptionLine(segment){
    if (segment && 'end' in segment && 'start' in segment && 'text' in segment){  //TODO refactor if
      $('#transcription-line').html( `
          <span class="text-secondary">${secondsToTimestamp(segment.start)} - ${secondsToTimestamp(segment.end)}</span>
          <span>${segment.text}</span>
        ` )
      }
  }

  
</script>

{% endblock %}
