{% extends "base.html" %}

<!-- {% block title %}Flask dice ciao{% endblock %} -->
{% block head_includes %}
<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/hover.min.js"></script>
{% endblock %} {% block content %}
<div class="row">
  <div class="col">
    <h2>Filename: {{track.name}}</h2>
    <div id="waveform"></div>
    <button type="button" class="btn">Add comment</button>
    <button id="add_section_button" type="button" class="btn" data-bs-toggle="button">Add section</button>
  </div>
</div>

<script>


  // import WaveSurfer from 'wavesurfer.js'
  // import RegionsPlugin from 'wavesurfer.js/dist/plugins/regions.esm.js'

  let file_url = "{{url_for('default.uploads', filename=track.local_name)}}";
  var toggle_regions_create = false;
  

  const regions = WaveSurfer.Regions.create(); // Initialize regions plugin
  const hover = WaveSurfer.Hover.create({
    lineColor: "#ffffff",
    lineWidth: 2,
    labelBackground: "#555",
    labelColor: "#fff",
    labelSize: "11px",
  }); // Initialize regions plugin
  const ws = WaveSurfer.create({
    container: "#waveform",
    waveColor: "rgb(83,83,83)",
    progressColor: "rgb(0,182,240)",
    url: file_url,
    // Set a bar width
    barWidth: 10,
    // Optionally, specify the spacing between bars
    barGap: 2,
    // And the bar radius
    barRadius: 4,
    mediaControls: true,
    interact: true,
    dragToSeek: true,
    plugins: [regions, hover],
  });

  //   ws.once("interaction", () => {
  //     ws.play();
  //   });
  var dragStopCallback = null

  regions.on("region-updated", (region) => {
    console.log("Updated region", region);
  });

  regions.on("region-in", (region) => {
    console.log("Entering region", region);
  })

  $("#add_section_button").click(function(){
    let btn = $("#add_section_button")
    if (btn.hasClass("active")){
      $("#add_section_button").addClass("btn-success");
        dragStopCallback = regions.enableDragSelection({
          color: "rgba(0, 200,255, 0.3)",
      });      
    } else {
      $("#add_section_button").removeClass("btn-success");
      dragStopCallback()
    }
    
  });  
</script>
{% endblock %}
