{% extends "base.html" %}
{% block title %}AC - Upload{% endblock %}
{% block head_includes %}

<script src="{{url_for('static', filename='js/wavesurfer/7/wavesurfer.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/record.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/timeline.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wavesurfer/7/plugins/hover.min.js')}}"></script>
<script src="{{url_for('static', filename='js/ui.js')}}"></script>

{% endblock %} 
{% block content %}
<form id="upload_form" method=post enctype=multipart/form-data>
    <div class="btn-group">
        <label for="formFile" class="btn btn-primary">Select file</label>
        <input class="form-control" type="file" name=file id="formFile" style="display:none;"/>
        <button type=submit class="btn btn-primary">Upload 
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M11 14.825V18q0 .425.288.713T12 19t.713-.288T13 18v-3.175l.9.9q.15.15.338.225t.375.063t.362-.088t.325-.225q.275-.3.288-.7t-.288-.7l-2.6-2.6q-.15-.15-.325-.212T12 11.425t-.375.063t-.325.212l-2.6 2.6q-.3.3-.287.7t.312.7q.3.275.7.288t.7-.288zM6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h7.175q.4 0 .763.15t.637.425l4.85 4.85q.275.275.425.638t.15.762V20q0 .825-.587 1.413T18 22zm7-14V4H6v16h12V9h-4q-.425 0-.712-.288T13 8M6 4v5zv16z"/>
            </svg>
          </span>
        </button>
    </div>
</form>



<select id="mic-select" class="btn btn-primary" hidden>
  <option value="" hidden>Select mic</option>
</select>
<div class="row">
  <div class="col">
        <button id="record" class="btn btn-primary">
          Record
        </button>
      <!-- <button id="pause" class="btn btn-primary" style="display: none;">Pause</button> -->
  </div>
  <div class="col-2">
    <div class="input-group" id="progressContainer" style="display: none;">
      <div class="input-group-text" id="progressGroupAddon">Progress</div>
      <input id="progress" type="text" class="form-control" aria-describedby="progressGroupAddon" value="00:00:00" disabled readonly>
    </div>
  </div>
</div>


<div id="recording"></div>
<div id="recordings"></div>


<script>
  $(document).ready(function () {
    init()
  });

  function setupMicSelect() {

    const micSelect = $("#mic-select");

    WaveSurfer.Record.getAvailableAudioDevices().then((devices) => {
        devices.forEach((device) => {
            micSelect.append(
                `<option value="${device.deviceId}">${device.label || device.deviceId}</option>`
            );
        });
    });
  }  

  function setupPauseResume(record){
    const pauseButton = $("#pause");
    $("#pause").on("click", function () {

        if (record.isPaused()) {
            record.pauseRecording();
            pauseButton.text("Pause");
        } else {
            record.pauseRecording();
            pauseButton.text("Resume");
        }
    });

  }

  function setupRecordButton(record) {
    const recButton = $("#record");
    const pauseButton = $("#pause");
    const progressContainer = $("#progressContainer")
    // const recordingSpinner = $("#recording-spinner")

    recButton.on("click", () => {
        if (record.isRecording() || record.isPaused()) {
            record.stopRecording();
            recButton.text("Record");
            // recordingSpinner.hide()
            pauseButton.hide();
            progressContainer.hide()
        } else {
            recButton.prop("disabled", true);
            progressContainer.show()
            const deviceId = $("#mic-select").val();

            record.startRecording({ deviceId }).then(() => {
            // record.startRecording().then(() => {
                // recButton.text("Stop");
                recButton.text(' Stop');
                recButton.prepend('<div class="spinner-grow spinner-grow-sm text-danger" role="status"><span class="visually-hidden">Recording...</span></div>');
                recButton.prop("disabled", false);
                // recordingSpinner.show()
                pauseButton.show();
                
            });
        }
    });
  }  

  function init(){
    const config = new WaveSurferConfig();

    const hover = new HoverManager(config)
    const timeline = new TimelineManager(config)
    const record = new RecordManager(config, '#recordings')

    const plugins = [record.recordInstance, timeline.timelineInstance]

    const wsOptions = {
      mediaControls:false, 
      url:'data:audio/wav;base64', 
      container:'#recording', 
      waveColor: config.WAVE_COLOR_RECORD,
    }
    //FIXME Invalid URI. Load of media resource failed
    const waveSurferInitializer = new WaveSurferManager(wsOptions, config, plugins);
    const waveSurfer = waveSurferInitializer.initialize();
    // waveSurfer.setOptions();

    setupMicSelect()
    // setupPauseResume(record.recordInstance)
    setupRecordButton(record.recordInstance)

    // waveSurfer.on("ready", () => {
    //   console.log("WaveSurfer is ready");
    // });

  }    
</script>

{% endblock %}